In [1]:
import pandas as pd

In [ ]:
accre = pd.read_csv('./data/accre-jobs-2020.csv',names=['JOBID', 'ACCOUNT', 'USER', 'REQMEM', 'USEDMEM', 'REQTIME', 'USEDTIME',
       'NODES', 'CPUS', 'PARTITION', 'EXITCODE', 'STATE', 'NODELIST'])

In [16]:
accre.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
0,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
1,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
2,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441
3,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464
4,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473

In [17]:
accre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3816291 entries, 0 to 3816290
Data columns (total 13 columns):
 #   Column     Dtype
---  ------     -----
 0   JOBID      object
 1   ACCOUNT    object
 2   USER       object
 3   REQMEM     object
 4   USEDMEM    object
 5   REQTIME    object
 6   USEDTIME   object
 7   NODES      object
 8   CPUS       object
 9   PARTITION  object
 10  EXITCODE   object
 11  STATE      object
 12  NODELIST   object
dtypes: object(13)
memory usage: 378.5+ MB

In [18]:
accre.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
0,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
1,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
2,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441
3,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464
4,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473

In [19]:
accre.columns

Index(['JOBID', 'ACCOUNT', 'USER', 'REQMEM', 'USEDMEM', 'REQTIME', 'USEDTIME',
       'NODES', 'CPUS', 'PARTITION', 'EXITCODE', 'STATE', 'NODELIST'],
      dtype='object')

In [20]:
accre.iloc[3449:3471,:]

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
3449,17050901_79,winged,lavonda,4096Mn,280.17M,12:00:00,00:02:08,1,4,production,0:0,COMPLETED,cn1391
3450,17050901_80,winged,lavonda,4096Mn,465M,12:00:00,00:02:04,1,4,production,0:0,COMPLETED,cn1308
3451,17050901_81,winged,lavonda,4096Mn,520.74M,12:00:00,04:03:49,1,4,production,0:0,COMPLETED,cn1391
3452,17050901_82,winged,lavonda,4096Mn,357.84M,12:00:00,00:02:06,1,4,production,0:0,COMPLETED,cn1308
3453,17050901_83,winged,lavonda,4096Mn,417.43M,12:00:00,00:02:43,1,4,production,0:0,COMPLETED,cn416
3454,17050901_84,winged,lavonda,4096Mn,503.70M,12:00:00,00:02:30,1,4,production,0:0,COMPLETED,cn416
3455,17050901_85,winged,lavonda,4096Mn,636.89M,12:00:00,00:02:27,1,4,production,0:0,COMPLETED,cn416
3456,17050901_86,winged,lavonda,4096Mn,441.42M,12:00:00,00:02:27,1,4,production,0:0,COMPLETED,cn416
3457,17050901_87,winged,lavonda,4096Mn,415.38M,12:00:00,00:02:26,1,4,production,0:0,COMPLETED,cn416
3458,17050901_88,winged,lavonda,4096Mn,457.05M,12:00:00,00:02:26,1,4,production,0:0,COMPLETED,cn416
3459,17050901_89,winged,lavonda,4096Mn,520.64M,12:00:00,08:25:01,1,4,production,0:0,COMPLETED,cn421
3460,17050901_90,winged,lavonda,4096Mn,570.32M,12:00:00,00:05:49,3,1,production,0:0,COMPLETED,cn[416
3461,17050901_91,winged,lavonda,4096Mn,669.61M,12:00:00,00:06:05,4,1,production,0:0,COMPLETED,cn[449
3462,17050901_92,winged,lavonda,4096Mn,500.06M,12:00:00,00:02:25,1,4,production,0:0,COMPLETED,cn1336
3463,17050901_93,winged,lavonda,4096Mn,530.52M,12:00:00,00:02:19,1,4,production,0:0,COMPLETED,cn1319
3464,17050901_94,winged,lavonda,4096Mn,620.31M,12:00:00,00:05:59,3,1,production,0:0,COMPLETED,cn[425
3465,17050901_95,winged,lavonda,4096Mn,484.49M,12:00:00,00:02:08,1,4,production,0:0,COMPLETED,cn1319
3466,17050901_96,winged,lavonda,4096Mn,304.21M,12:00:00,00:02:16,1,4,production,0:0,COMPLETED,cn1336
3467,17050901_97,winged,lavonda,4096Mn,629.38M,12:00:00,00:06:24,4,1,production,0:0,COMPLETED,cn[394
3468,17050901_98,winged,lavonda,4096Mn,561.52M,12:00:00,00:02:04,1,4,production,0:0,COMPLETED,cn1319
3469,17050901_99,winged,lavonda,4096Mn,636.64M,12:00:00,00:02:00,1,4,production,0:0,COMPLETED,cn1319
3470,17050901_100,winged,lavonda,4096Mn,522.07M,12:00:00,00:02:09,1,4,production,0:0,COMPLETED,cn1336

In [21]:
accre.NODES.nunique()

94

In [22]:
accre.NODES.value_counts()

1     3745514
1       65391
2        2459
3         861
4         579
       ...
51          1
44          1
43          1
41          1
61          1
Name: NODES, Length: 94, dtype: int64

In [34]:
accre[accre.NODES==1].nunique()

JOBID        3745514
ACCOUNT          172
USER             594
REQMEM           204
USEDMEM       827081
REQTIME          448
USEDTIME      161540
NODES              1
CPUS              23
PARTITION         15
EXITCODE          24
STATE             33
NODELIST         868
dtype: int64

In [36]:
accre[(accre.STATE=='FAILED')|(accre.STATE=='OUT_OF_MEMORY')].shape

(1500, 13)